@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Noto+Serif:ital@0;1&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;1,400&display=swap');
* {
    font-family: 'Lora', serif;
    /* font-family: 'Source Sans Pro', sans-serif; */
    /* font-family: 'Noto Serif', serif; */
}

header {
    background-image: url(img/header-bg.png);
    background-repeat: no-repeat;
    height: 978px;
    /* width: 100%; */
    background-size: cover;
}

.nav-menu {
    /* height: 5rem; */
    /* margin: 0 200px; */
    padding: 30px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: rgba(0, 0, 0, 0.5); 
}

.nav-menu ul {
    display: flex; 
    list-style: none;
}

.nav-menu ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-style: italic;
    margin-left: 30px;
}
.nav-menu ul li a:hover {
    color: #a87931;
    transition: .5s;
 }
.openMenu, .closeMenu {
    display: none; 
    padding: 5px;
}
.openMenu i, .closeMenu i {
    color: white;
}
.sticky {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 99;
    box-shadow: 0 0 3px grey;
}

header .overview .infor {
    /* margin: 300px 0; */
    padding: 300px 0;
    min-width: 400px;
    min-height: 400px;
    text-align: center;
}
header .overview .infor button {
    padding: 20px;
    margin-top: 50px;
    background-color: #E8BE7F;
    border: none;
    border-radius: 5px;
    /* box-shadow: 0 0 8px grey; */
    /* font-weight: 600; */
    letter-spacing: 2px;
}
header .overview .infor button:hover {
    background-color: #a87931;
    color: white;
    transition: .5s;
}
header .overview h1, p {
    color: white;
}
/*main begin*/
main {
    background-color: #0F1011;
}
/*section1 begin*/
.section1 {
    position: relative;
    padding-top: 50px;
}
main .section1 .about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 15px; */
}
.section1 .about .sect1-foto img {
    width: 682px;
    height: 792px;
    object-fit: contain;
}
.section1 .about .sect1-text {
    width: 500px;
    line-height: 50px;
    height: 792px;
    left: 84px;
    /* top: 1073px; */
    text-align: center;
}
.section1 .buta {
    position: absolute;
    right: 0;
    top: 20px;   
}
.section1 .about .sect1-text span {
    color: #a87931;
}
.section1 .about .sect1-text h3 {
    color: white;
}
/*section1 end*/

/*bloq-section begin*/
main .blog {
    padding-top: 70px;
    text-align: center;
}
main .blog .basliq {
    padding-bottom: 50px;
}
main .blog .basliq span {color: #a87931;}
main .blog .basliq h2 {color: white;}
.blog .cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blog .cards .card {
    cursor: pointer;
    transition: .5s all ease-in-out;
    padding: 10px;
    justify-content: space-between;
    background: transparent;
}
.blog .cards .card:hover {
    transform: translate(0, 10px);
}
.blog .cards .card .crd-top {
    color: #a87931 !important;
    text-align: left;
}
.blog .cards .card .crd-bottom {
    text-align: left;
}
.blog .cards .card .crd-bottom h4 {
    color: #a87931;
}
.blog .cards #blog1 {
    background-image: url(img/blog1.png);
    width: 400px;
    height: 480px;
}
.blog .cards #blog2 {
    background-image: url(img/blog2.png);
    width: 400px;
    height: 480px;
}
.blog .cards #blog3 {
    background-image: url(img/blog3.png);
    width: 400px;
    height: 480px;  
}

/*bloq-section end*/

/*menu-section3 begin*/
main .section3 {
    background-image: url(img/menu-bg-left.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50px;
}
main .section3 .basliq {
    text-align: center;
    padding-bottom: 30px;
}
main .section3 .basliq span {color: #a87931;}
main .section3 .basliq h2 {color: white;}
.section3 .top-menu {
    padding: 50px 40px 30px 40px;
    margin-top: 25px;
    border-top: 1px solid white;
    border-bottom: 1px solid white; 
}
.section3 .top-menu ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.section3 .top-menu ul li button {
   background-color: transparent;
   color: white;
   border: none;
}
.section3 .top-menu ul li button:hover {
    color: #a87931;
    transition: .5s ease-in-out;
 }

/* .section3 .top-menu ul li:nth-child(1) button {
    color: #a87931;
} */
.section3 .menu-details {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.section3 .menu-details .left-part .lasagne1 {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 50px 0;
}
.section3 .menu-details .left-part .lasagne1 .text-part h4 {color: white;}
.section3 .menu-details .right-part .lasagne1 {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 50px 0;
}
.section3 .menu-details .right-part .lasagne1 .text-part h4 {color: white;}
.section3 .work-time {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
/*menu tabs begin*/
.section3 .tabcontent {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    -webkit-animation: fadeEffect 5s;
    animation: fadeEffect 5s;
}
@-webkit-keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
  }
  
@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}
.section3 #Weekday {
    display: none;
}
.section3 #Dinner {
    display: none;
}
.section3 #Wine {
    display: none;
}
.section3 #Weekday .left-part #lunch1 {
    width: 146px;
    height: 136px;
    object-fit: cover;
}
.section3 #Dinner .left-part #dinner1 {
    width: 146px;
    height: 136px;
}
.section3 #Wine .left-part #wine1 {
    width: 146px;
    height: 136px;
}
.top-menu ul li button.active {
    color: #a87931;
}
.section3 .tabcontent .left-part .lasagne1 {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 50px 0;
}
.section3 .tabcontent .left-part .lasagne1 .text-part h4 {color: white;}
.section3 .tabcontent .right-part .lasagne1 {
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 50px 0;
}
.section3 .tabcontent .right-part .lasagne1 .text-part h4 {color: white;}
.section3 .work-time {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
/*menu tabs end*/
/*menu-section3 end*/

/*special-offer begin*/
main .special-offer {
    position: relative;
    padding-top: 50px;
}
main .special-offer .buta {
    position: absolute;
}
main .special-offer .basliq {
    text-align: center;
    padding-bottom: 40px;
}
main .special-offer .basliq span {color: #a87931;}
main .special-offer .basliq h2 {color: white;}
main .special-offer .cards {
    /* background-color:#0F1011; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
main .special-offer .cards .card {
    cursor: pointer;
    border: none;
    transition: 0.5s all ease-in-out;
    background: transparent;
}
main .special-offer .cards .card:hover {
    transform: translate(0, 10px);
}
main .special-offer .cards .card .special-foto {
    background-color: #0F1011;
}
main .special-offer .cards .card .special-foto img {
    width: 400px;
    
}
main .special-offer .cards .card .special-text {
    background-color: #0F1011;
    padding: 10px;
}
main .special-offer .cards .card .special-text h4 {color: #a87931;}

/*spacial-offer end*/

/*section5 begin*/
.section5 {
    margin-top: 50px;
    /* width: 100%; */
    /* margin: 50px auto; */
    background-image: url(img/eating.png);
    /* height: 713px; */
    background-repeat: no-repeat;
    background-size: cover;
}
.section5 h2 {
    padding: 350px;
    color: white;
    text-align: center;
}
/*section5 end*/

/*reservation begin*/
.section6 {
    margin-top: 50px;
    position: relative;
}
.section6 .online-reservation {
    /* position: absolute; */
    max-width: 1065.34px;
    /* height: 1002px; */
    left: 187px;
    /* top: 5767px; */
    border: 1px solid #a87931;
    margin: 5px auto;
    padding: 40px;
    transform: translateY(-200px);
    background-color: #0F1011;
}
.online-reservation h2 {
    text-align: center;
    color: white;
}
.online-reservation input {
    padding: 15px 15px 15px 45px;
}
.online-reservation .inputs2 {
    position: relative;
}
.online-reservation .inputs2 i {
    position: absolute;
    color: white;
    left: 50px;
    top: 20px;
}
.online-reservation .inputs1, .inputs2, .inputs3, button {
    margin: 50px 0;
}
.online-reservation .inputs1 {
    display: flex;
    justify-content: space-evenly
    /* flex-wrap: wrap; */
}
.online-reservation .inputs1 input {
    width: 45%;
}
.online-reservation .inputs2 {
    display: flex;
    justify-content: space-evenly;
}
.online-reservation .inputs2 input {
    width: 29%;
}
.online-reservation .inputs3 {
    display: flex;
    align-items: center;
    justify-content: center;
}
.online-reservation .inputs3 textarea {
    /* width: 100%; */
    padding: 10px; 
}
.online-reservation .inputs4 {
    display: flex;
    justify-content: center;
    align-items: center;
}
.online-reservation input, textarea {
    background-color: transparent;
    border: 1px solid #a87931;
    color: white;
    /* background: transparent; */
}
.online-reservation input::placeholder, textarea::placeholder {
    color: white;
}
.online-reservation button {
    width: 93%;
    padding: 10px 200px 10px 200px;
    background-color: #a87931;
}
.online-reservation button:hover {
    background-color: #e49115;
    color: white;
    transition: .5s;
}
.section6 .buta-bottom img {
    width: 436px;
    position: absolute;
    bottom: -48px;
    transform: translate(50%, 0);
    right: 50%;
    
}
/*reservaton end*/

/*team begin*/
main .section7 {
    background-image: url(img/team-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 50px;
}
main .section7 .basliq {
    text-align: center;
    padding-bottom: 50px;
}
main .section7 .basliq span {color: #a87931;}
main .section7 .basliq h2 {color: white;}
main .section7 .cards {
    /* background-color:#0F1011; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
main .section7 .cards .card {
    border: none;
    transition: 0.5s all ease-in-out;
    cursor: pointer;
    background-color: #0F1011;
}
main .section7 .cards .card:hover {
    transform: translate(0, 10px);
}
main .section7 .cards .card .special-foto {
    background-color: #0F1011;
}
main .section7 .cards .card .special-foto img {
    width: 400px;
}
main .section7 .cards .card .special-text {
    background-color: #0F1011;
    text-align: center;
    padding: 10px;
}
main .section7 .cards .card .special-text h4 {color: #a87931;}

/*team end*/
/*main end*/

/*footer begin*/
.foot .buta-bottom {
    text-align: center;
}
footer {
    background-color: #0F1011;
    padding-top: 50px;
}
.foot .logo {
    text-align: center;
    padding: 20px 0;
}
.foot .logo img {
    width: 130px;
    height: 48px;
}
.foot .navigators {
    display: flex;
    justify-content: space-between;
}
.foot .navigators ul {
    list-style: none;
    line-height: 50px;
}
.foot .navigators .booking span, .location span, .lunch-time span, .dinner-time span {
    color: #a87931;
}
.foot .navigators ul li a {
    color: white;
    text-decoration: none;
}
.foot .navigators .navigation-links li a:hover, .foot .navigators .social-links li a:hover  {
    color: #a87931;
    transition: .5s;
}
.foot .navigators .booking, .location, .lunch-time, .dinner-time {
    display: flex;
    flex-direction: column;
    line-height: 30px;
    text-align: center;
}
/*footer end*/

/*Responsiv design begin*/
@media (max-width: 1399px) {
    main .section7 .cards .card .special-foto img {
        width: 350px;
    }
    main .special-offer .cards .card .special-foto img {
        width: 350px;
    }
    main .blog .cards {
      gap: 15px;
    }
}
@media (max-width: 1199px) {
    .section1 .about {
        flex-direction: column;
    }
    .section1 .about .sect1-foto img {
        width: 520px;
        height: 600px;
    }
    .section1 .about .sect1-text {
        height: 350px;
    }
    main *.cards {
        flex-wrap: wrap;
        justify-content: center !important;
        padding-bottom: 30px;
    }
}
@media (max-width: 991px) {
    .special-offer .special-text {
        text-align: center;
    }
}
@media (max-width:768px) {
/*navmenu begin*/

.nav-menu {
    /* height: 5rem;
    margin: 0px;
    padding: 8px; */
    padding: 20px 100px;
}
.nav-menu .mainMenu {
    /* height: 12vh; */
    margin: 0px;
    position: fixed;
    padding: 10px;
    top: 0;
    right: 0;
    left: 0;
    background: rgb(123, 101, 47);
    flex-direction: column;
    transition: top 1s ease;
    display: none;
}

.nav-menu .mainMenu .closeMenu {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.closeMenu .fa-times { font-size: 1.4rem; }
.openMenu .fa-bars { font-size: 1.4rem; }

.nav-menu .openMenu {
    display: block;
    cursor: pointer;
}
.mainMenu li a:hover, i:hover {
    background: none;
    color: white;
}
/*navmenu end*/

/*section1 begin*/
.section1 .about .sect1-foto img {
    width: 480px;
    height: 600px;
}
/*section1 end*/

/*blog begin*/
.blog .cards {
    flex-direction: column;
    gap: 20px;
}
.blog .cards .card {
    box-shadow: 0 0 8px grey;
}
/*blog end*/

/*section3 begin*/
.section3 .tabcontent {
    flex-wrap: wrap;
}
/*section3 end*/

/*special-offer begin*/
.special-offer .cards {
    flex-direction: column;
}
.special-offer .buta {
    transform: translate(0, 50%);
    bottom: 50%;
}
/*special-offer end*/

/*section5 begin*/
.section5 h2 {
    padding: 250px 0;
}
/*section5 end*/

/*section6 begin*/
.section6 .online-reservation .inputs1, .section6 .online-reservation .inputs2 {
    flex-wrap: wrap;
    gap: 10px;
}
.section6 .online-reservation input {
    padding-left: 40px;
}
.online-reservation .inputs2 i {
    left: 10px;
}
.section6 .online-reservation .inputs1 input, .section6 .online-reservation .inputs2 input  {
    width: 100%;
}
.section6 .online-reservation .inputs4 button {
    padding: 10px;
    width: 100%;
}
/*section6 end*/

/*team begin*/
.section7 {
    padding-bottom: 20px;
}
.section7 .cards {
    flex-direction: column;
}
.section7 .cards .card {
    box-shadow: 0 0 8px grey;
}
/*team end*/

/*footer begin*/
.foot .navigators {
    flex-wrap: wrap;
}
/*footer end*/
}
@media(max-width: 680px) {
    .section1 .about .sect1-foto img {
        width: 400px;
        height: 500px;
    }
}
@media(max-width: 595px) {
    .section1 .about .sect1-foto img {
        width: 350px;
        height: 500px;
    }
    .section1 .buta img {
        height: 300px;     
    }
    .section3 .top-menu ul {
        flex-wrap: wrap;
        justify-content: center;
        
    }
}
@media (max-width: 500px) {
   
    .section1 .about .sect1-text {
        width: 340px;
        line-height: 45px;
    } 
}
@media (max-width: 475px) {
    .section1 .about .sect1-foto img {
        width: 300px;
        height: 420px;
    }
}
@media (max-width: 435px) {
    .sticky {
        /* right: 48px; */
    }
    .blog .cards #blog1,  .blog .cards #blog2,  .blog .cards #blog3 {
        width: 300px;
        height: 380px;
    }
    .section6 .buta-bottom img {
        width: 330px;
    }
}



/*Responsive design end*/

